COMPOSE_PROJECT_NAME=smart-bike

# Nginx container akan expose ke localhost/server port ini.
# Cloudflare Tunnel diarahkan ke http://localhost:8005
WEB_PORT=8005

DB_DATABASE=smart_bike_rental
DB_USERNAME=smart_bike
DB_PASSWORD=GANTI_PASSWORD_DATABASE_YANG_KUAT
MYSQL_ROOT_PASSWORD=GANTI_PASSWORD_ROOT_DATABASE_YANG_KUAT
DB_PORT_EXTERNAL=3311

HOST_UID=1000
HOST_GID=1000

# Ubah true hanya saat deploy pertama jika ingin membuat akun demo/default.
RUN_SEED_ON_DEPLOY=false

# Isi jika ingin menjalankan cloudflared dari Docker Compose.
# Jika cloudflared dijalankan langsung di host, boleh dikosongkan.
CLOUDFLARE_TUNNEL_TOKEN=

